{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <h1>Доска объявлений</h1>
    <a href=" {% url 'create_ad' %} "> Создать обьявление </a>
</header>

<main class="ads-grid">
    {% for ad in ads %}
    <article class="ad-card">
        <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
        <div class="ad-content">
            <h3>{{ ad.title }}</h3>
            <p>{{ ad.description }}</p>
            <time>{{ ad.created_at|date:"d.m.Y H:i" }}</time>
            <a href="{% url 'delete_ad' ad.id %}"> Удалить </a>
            <a href="{% url 'edit_ad' ad.id %}"> Редактировать </a>
        </div>
    </article>
    {% endfor %}
</main>

</body>
</html>
